html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-body);
  color: var(--text-primary);
}

button {
  display: inline-block;
  border: transparent;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
q {
  // quotes: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
/* Для браузеров на основе WebKit */
/* Конфигурация полосы прокрутки */
::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
}

/* Стили полосы прокрутки */
::-webkit-scrollbar-thumb {
  border-radius: 15px;

  background-color: rgba(
    169,
    169,
    169,
    0.7
  ); /* Цвет скроллбара с прозрачностью */
}

/* Стили трека (фона) полосы прокрутки */
::-webkit-scrollbar-track {
  background: transparent; /* Фон трека прозрачный */
}
