@import "../../node_modules/modern-normalize/modern-normalize.css";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-body);
  color: var(--text-primary);
}

button {
  display: inline-block;
  border: transparent;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

q {
  font-style: normal;
}

:root {
  --background-primary: #fff;
  --background-secondary: #fefefe;
  --main-yellow: #ffe550;
  --light-green: #bbf330;
  --dark-green: #7eb101;
  --text-primary: #2c2c2c;
  --text-secondary: #000;
  --grey: #505050;
  --error: #fe6060;
  --backdrop: #2c2c2c;
}

.container {
  width: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 16px;
    width: 1280px;
  }
}

.section {
  width: 100%;
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

.header {
  width: 100%;
  background-color: var(--background-secondary);
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__menu-open-btn {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 22px;
  right: 18px;
}
@media screen and (min-width: 768px) {
  .header__menu-open-btn {
    display: none;
  }
}

.header__menu-open-icon:hover,
.header__menu-open-icon :active {
  fill: var(--dark-green);
}

.menu {
  display: none;
  width: 130px;
  height: 255px;
  flex-shrink: 0;
  border-radius: 30px 0px 30px 30px;
  background: var(--background-secondary);
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  position: absolute;
  top: 50px;
  right: 20px;
  overflow: hidden;
}

.open {
  display: block;
}
@media screen and (min-width: 768px) {
  .open {
    display: none;
  }
}

.menu__close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.menu__link {
  color: var(--text-secondary);
  display: block;
  width: 100%;
  padding: 16px;
}
.menu__link:hover,
.menu__link :active {
  background-color: var(--light-green);
}

.hero {
  width: 100%;
  padding-top: 132px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.hero__title {
  font-size: 28px;
  margin-bottom: 28px;
}

.hero__description {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
}

.hero__button {
  padding: 6px 18px;
  border-radius: 30px;
  background-color: var(--light-green);
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
}

.about {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.about::after {
  content: "";
  position: absolute;
  background-image: url("../images/backgrounds/about-background-mobile-320-1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1050px;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.about__img-wrapp {
  background-color: var(--background-primary);
  width: 255px;
  height: 255px;
  padding: 12px;
  border-radius: 50%;
  position: relative;
}
.about__img-wrapp::after {
  position: absolute;
  content: "";
  width: 280px;
  height: 279px;
  border-radius: 50%;
  top: -13px;
  left: -5%;
  outline: var(--background-primary) 5px solid;
}

.about__image {
  position: absolute;
  z-index: 2;
  bottom: 53px;
  left: 30px;
  height: 255px;
}

@media screen and (min-width: 768px) {
  .favorites__list--mobile {
    display: none;
  }
}

.favorites__list--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .favorites__list--tablet {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */