/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://www.intelligentcitieschallenge.eu/themes/icc/images/jpg/bg_homepage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  background-color: #66dad994;
  color: #e33e3e;
  text-align: center;
  padding: 52px;
  border-radius: 21px;
  width: 700px;
}

h1 {
  font-size: 36px;
  margin: 0;
  text-transform: uppercase;
}

main {
  padding: 20px;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

p {
  color: #312a15;
  font-size: 25px;
  background-color: rgba(102, 218, 217, 0.5803921569);
  border-radius: 21px;
  padding: 15px;
  margin: 4px;
  width: 564px;
}
