:root {
  --background-primary: #fff;
  --background-secondary: #fefefe;

  --main-yellow: #ffe550;

  --light-green: #bbf330;
  --dark-green: #7eb101;

  --text-primary: #2c2c2c;
  --text-secondary: #000;

  --grey: #505050;
  --light-grey: #c4c4c4;
  --error: #fe6060;
  --backdrop: #5e6363b2;
}
