<!-- <section class="about" id="about">
  <div class="container">
    <div class="about__img-wrapp"> -->
<!-- *big apple -->
<!-- <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/fruits/apple-mobile-1x.png 1x,
            ./images/fruits/apple-mobile-2x.png 2x
          "
        />
        <source
          media="(max-width: 1279px)"
          srcset="
            ./images/fruits/apple-tablet-1x.png 1x,
            ./images/fruits/apple-tablet-2x.png 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/fruits/apple-desktop-1x.png 1x,
            ./images/fruits/apple-desktop-2x.png 2x
          "
        />
        <img
          src="./images/fruits/apple-mobile-1x.png"
          alt="Green apple"
          class="about__image"
          width="280"
        />
      </picture>

      <div class="about__bg-apples">
        <div class="about__bg-apple--middle"></div>
        <div class="about__bg-apple--smalll"></div>
      </div>
    </div>

    <div class="about__content-wrapp">
      <h2 class="about__title">
        What’s Special About
        <br />
        Our Offerings
      </h2>
      <p class="about__description">
        With our platform, you can browse through a diverse selection of
        cuisines and local restaurants, and choose from a variety of dishes that
        cater to your specific taste buds.
      </p>
      <ul class="about__list">
        <li class="about__item">
          <div class="about__item-icon">
            <img src="./icons/rocket-launch.png" alt="" />
          </div>
          <h3 class="about__item-title">Fastest Delivery</h3>
          <p class="about__item-description">
            Our advanced logistics system and dedicated delivery partners ensure
            that your meals are delivered to you within 30-minutes.
          </p>
        </li>
        <li class="about__item">
          <div class="about__item-icon">
            <img src="./icons/touch-app.png" alt="" />
          </div>
          <h3 class="about__item-title">Easy to Order</h3>
          <p class="about__item-description">
            You can browse through a wide variety of cuisines and restaurants,
            select your favorite meals, and place your order in just a few
            clicks.
          </p>
        </li>
      </ul>

      <div class="about__controls">
        <button
          class="button order-btn--transparent"
          id="order-btn"
          type="button"
        >
          Order Now
        </button>
        <a href="#" class="about__link"
          >Read More<span class="about__link-icon"
            ><img
              src="./icons/chevron-down.png"
              alt="chevron down icon"
              width="13"
              height="13" /></span
        ></a>
      </div>
    </div>
  </div>
</section> -->

<section class="about" id="about">
  <div class="container">
    <div class="about__img-wrapp">
      <!-- *big apple -->
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/fruits/apple-mobile-1x.png 1x,
            ./images/fruits/apple-mobile-2x.png 2x
          "
        />
        <source
          media="(max-width: 1279px)"
          srcset="
            ./images/fruits/apple-tablet-1x.png 1x,
            ./images/fruits/apple-tablet-2x.png 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/fruits/apple-desktop-1x.png 1x,
            ./images/fruits/apple-desktop-2x.png 2x
          "
        />
        <img
          src="./images/fruits/apple-mobile-1x.png"
          alt="Green apple"
          class="about__image"
          width="280"
        />
      </picture>
      <div class="about__bg-apple--middle"></div>
      <div class="about__bg-apple--smalll"></div>
    </div>
    <h2 class="about__title">What’s Special About Our Offerings</h2>
    <p class="about__description">
      With our platform, you can browse through a diverse selection of cuisines
      and local restaurants, and choose from a variety of dishes that cater to
      your specific taste buds.
    </p>
    <ul class="about__list">
      <li class="about__item">
        <div class="about__item-icon">
          <img src="./icons/rocket-launch.png" alt="" />
        </div>
        <h3 class="about__item-title">Fastest Delivery</h3>
        <p class="about__item-description">
          Our advanced logistics system and dedicated delivery partners ensure
          that your meals are delivered to you within 30-minutes.
        </p>
      </li>
      <li class="about__item">
        <div class="about__item-icon">
          <img src="./icons/touch-app.png" alt="" />
        </div>
        <h3 class="about__item-title">Easy to Order</h3>
        <p class="about__item-description">
          You can browse through a wide variety of cuisines and restaurants,
          select your favorite meals, and place your order in just a few clicks.
        </p>
      </li>
    </ul>

    <div class="about__controls">
      <button
        class="button order-btn--transparent"
        id="order-btn"
        type="button"
      >
        Order Now
      </button>
      <a href="#" class="about__link"
        >Read More<span class="about__link-icon"
          ><img
            src="./icons/chevron-down.png"
            alt="chevron down icon"
            width="13"
            height="13" /></span
      ></a>
    </div>
  </div>
</section>
