<section class="favorites">
  <div class="container">
    <h2 class="favorites__title">
      Some of Our <br />
      Favorites
    </h2>
    <p class="favorites__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <ul class="favorites__list">
      <li class="favorites__item">
        <img
          src="./images/meals/pasta-mobile.png"
          alt=""
          class="favorites__image"
        />
      </li>
      <li class="favorites__item">
        <img
          src="./images/meals/pasta-mobile.png"
          alt=""
          class="favorites__image"
        />
      </li>
      <li class="favorites__item">
        <img
          src="./images/meals/pasta-mobile.png"
          alt=""
          class="favorites__image"
        />
      </li>
    </ul>
  </div>
</section>
