<section class="favorites" id="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <ul class="favorites__list--mobile">
      <li class="favorites__item">
        <!-- *gamburger-->
        <button
          class="js-orderBtn favorites__btn"
          aria-label="Order now"
          type="button"
          id="order-btn"
        >
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/gamburger-mobile-1x.avif 1x,
                ./images/meals/avif/gamburger-mobile-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/gamburger-mobile-1x.jpg 1x,
                ./images/meals/gamburger-mobile-2x.jpg 2x
              "
            />

            <source
              media="(max-width: 1279px)"
              srcset="
                ./images/meals/avif/gamburger-tablet-1x.avif 1x,
                ./images/meals/avif/gamburger-tablet-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./images/meals/gamburger-tablet-1x.jpg 1x,
                ./images/meals/gamburger-tablet-2x.jpg 2x
              "
            />

            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/meals/avif/gamburger-desktop-1x.avif 1x,
                ./images/meals/avif/gamburger-desktop-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/meals/gamburger-desktop-1x.jpg 1x,
                ./images/meals/gamburger-desktop-2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              class="favorites__image"
              width="223"
              height="223"
              src="./images/meals/gamburger-mobile-1x.jpg"
              alt=""
            />
          </picture>
        </button>
      </li>
      <li class="favorites__item">
        <!-- *pasta -->
        <button
          class="js-orderBtn favorites__btn"
          aria-label="Order now"
          type="button"
          id="order-btn"
        >
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/pasta-mobile-1x.avif 1x,
                ./images/meals/avif/pasta-mobile-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/pasta-mobile-1x.jpg 1x,
                ./images/meals/pasta-mobile-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/pasta-tablet-1x.avif 1x,
                ./images/meals/avif/pasta-tablet-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./images/meals/pasta-tablet-1x.jpg 1x,
                ./images/meals/pasta-tablet-2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/pasta-desktop-1x.avif 1x,
                ./images/meals/avif/pasta-desktop-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/meals/pasta-desktop-1x.jpg 1x,
                ./images/meals/pasta-desktop-2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              src="./images/meals/pasta-mobile-1x.jpg"
              alt=""
              width="223"
              height="223"
              class="favorites__image"
            />
          </picture>
        </button>
      </li>
      <li class="favorites__item">
        <!-- *pizza -->
        <button
          class="js-orderBtn favorites__btn"
          aria-label="Order now"
          type="button"
          id="order-btn"
        >
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/pizza-mobile-1x.avif 1x,
                ./images/meals/avif/pizza-mobile-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/pizza-mobile-1x.jpg 1x,
                ./images/meals/pizza-mobile-1x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/pizza-tablet-1x.avif 1x,
                ./images/meals/avif/pizza-tablet-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./images/meals/pizza-tablet-1x.jpg 1x,
                ./images/meals/pizza-tablet-1x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/pizza-desktop-1x.avif 1x,
                ./images/meals/avif/pizza-desktop-2x.avif 2x
              "
              type="image/avif"
            />

            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/meals/pizza-desktop-1x.jpg 1x,
                ./images/meals/pizza-desktop-1x.jpg 2x
              "
            />

            <img
              loading="lazy"
              src="./images/meals/pizza-mobile-1x.jpg"
              alt=""
              class="favorites__image"
              width="223"
            />
          </picture>
        </button>
      </li>
    </ul>

    <ul class="favorites__list--tablet">
      <li class="favorites__item">
        <!-- *gamburger -->
        <button
          class="js-orderBtn favorites__btn"
          aria-label="Order now"
          type="button"
          id="order-btn"
        >
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/gamburger-tablet-1x.avif 1x,
                ./images/meals/avif/gamburger-tablet-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/gamburger-tablet-1x.jpg 1x,
                ./images/meals/gamburger-tablet-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/gamburger-desktop-1x.avif 1x,
                ./images/meals/avif/gamburger-desktop-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./images/meals/gamburger-desktop-1x.jpg 1x,
                ./images/meals/gamburger-desktop-2x.jpg 2x
              "
            />

            <img
              loading="lazy"
              class="favorites__image"
              width="268"
              src="./images/meals/gamburger-tablet-1x.jpg"
              alt="Hamburger"
            />
          </picture>
        </button>
      </li>
      <li class="favorites__item">
        <!-- *pasta -->
        <button
          class="js-orderBtn favorites__btn"
          aria-label="Order now"
          type="button"
          id="order-btn"
        >
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/pasta-tablet-1x.avif 1x,
                ./images/meals/avif/pasta-tablet-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/pasta-tablet-1x.jpg 1x,
                ./images/meals/pasta-tablet-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/pasta-desktop-1x.avif 1x,
                ./images/meals/avif/pasta-desktop-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/meals/pasta-desktop-1x.jpg 1x,
                ./images/meals/pasta-desktop-2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              class="favorites__image"
              width="268"
              src="./images/meals/pasta-tablet-1x.jpg"
              alt="Pasta"
            />
          </picture>
        </button>
      </li>
      <li class="favorites__item">
        <!-- *pizza -->
        <button
          class="js-orderBtn favorites__btn"
          aria-label="Order now"
          type="button"
          id="order-btn"
        >
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/pizza-tablet-1x.avif 1x,
                ./images/meals/avif/pizza-tablet-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./images/meals/pizza-tablet-1x.jpg 1x,
                ./images/meals/pizza-tablet-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/pizza-desktop-1x.avif 1x,
                ./images/meals/avif/pizza-desktop-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/meals/pizza-desktop-1x.jpg 1x,
                ./images/meals/pizza-desktop-2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              class="favorites__image"
              width="268"
              src="./images/meals/pizza-tablet-1x.jpg"
              alt="Pizza"
            />
          </picture>
        </button>
      </li>
      <li class="favorites__item">
        <!-- *chicken -->
        <button
          class="js-orderBtn favorites__btn"
          aria-label="Order now"
          type="button"
          id="order-btn"
        >
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/chicken-tablet-1x.avif 1x,
                ./images/meals/avif/chicken-tablet-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./images/meals/chicken-tablet-1x.jpg 1x,
                ./images/meals/chicken-tablet-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/chicken-desktop-1x.avif 1x,
                ./images/meals/avif/chicken-desktop-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/meals/chicken-desktop-1x.jpg 1x,
                ./images/meals/chicken-desktop-2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              class="favorites__image"
              width="268"
              src="./images/meals/chicken-tablet-1x.jpg"
              alt="Chicken meal"
            />
          </picture>
        </button>
      </li>
      <li class="favorites__item">
        <!-- *salat -->
        <button
          class="js-orderBtn favorites__btn"
          aria-label="Order now"
          type="button"
          id="order-btn"
        >
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/salat-tablet-1x.avif 1x,
                ./images/meals/avif/salat-tablet-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./images/meals/salat-tablet-1x.jpg 1x,
                ./images/meals/salat-tablet-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/salat-desktop-1x.avif 1x,
                ./images/meals/avif/salat-desktop-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/meals/salat-desktop-1x.jpg 1x,
                ./images/meals/salat-desktop-2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              class="favorites__image"
              width="268"
              src="./images/meals/salat-tablet-1x.jpg"
              alt="Salad"
            />
          </picture>
        </button>
      </li>
      <li class="favorites__item">
        <!-- *borshch -->
        <button
          class="js-orderBtn favorites__btn"
          aria-label="Order now"
          type="button"
          id="order-btn"
        >
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/borshch-tablet-1x.avif 1x,
                ./images/meals/avif/borshch-tablet-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./images/meals/borshch-tablet-1x.jpg 1x,
                ./images/meals/borshch-tablet-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/meals/avif/borshch-desktop-1x.avif 1x,
                ./images/meals/avif/borshch-desktop-2x.avif 2x
              "
              type="image/avif"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/meals/borshch-desktop-1x.jpg 1x,
                ./images/meals/borshch-desktop-2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              class="favorites__image"
              width="268"
              src="./images/meals/borshch-tablet-1x.jpg"
              alt="Borshch"
            />
          </picture>
        </button>
      </li>
    </ul>
  </div>
</section>
