<footer>
  <div class="container">
    <img src="./icons/logo.png" alt="logo" />
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#service">Service</a></li>
      <li><a href="#menu">Menu</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <b>Subscribe</b>
    <form action="#">
      <input type="text" name="" placeholder="Enter your email" id="" />
      <button type="submit">Subscribe</button>
    </form>
    <p>By subscribing you agree to with our <a href="#">Privacy Policy</a></p>
    <ul>
      <li><a href="#privacy-policy">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Cookies Settings</a></li>
    </ul>
    <p>2022 FoodSta. All right reserved.</p>
  </div>
  <ul class="backgrounds">
    <li><img src="./images/fruits/aple-mobile.png" alt="" /></li>
    <li><img src="./images/fruits/aple-mobile.png" alt="" /></li>
    <li><img src="./images/fruits/aple-mobile.png" alt="" /></li>
  </ul>
</footer>
