<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <img src="./icons/logo.png" alt="logo" class="footer__logo" />
      <ul class="footer__menu">
        <li><a href="#home" class="footer__menu-item">Home</a></li>
        <li><a href="#about" class="footer__menu-item">About</a></li>
        <li><a href="#service" class="footer__menu-item">Service</a></li>
        <li><a href="#menu" class="footer__menu-item">Menu</a></li>
        <li><a href="#contact" class="footer__menu-item">Contact</a></li>
      </ul>
      <b class="footer__subscribe-title">Subscribe</b>
      <form class="footer__subscribe-form" action="#">
        <input
          type="text"
          name=""
          placeholder="Enter your email"
          id=""
          class="footer__subscribe-input"
        />
        <button type="submit" class="footer__subscribe-button">
          Subscribe
        </button>
      </form>
      <p class="footer__subscribe-text">
        By subscribing you agree to with our
        <a href="#" class="footer__subscribe-link">Privacy Policy</a>
      </p>
      <ul class="footer__links">
        <li>
          <a href="#privacy-policy" class="footer__links-item"
            >Privacy Policy</a
          >
        </li>
        <li><a href="#" class="footer__links-item">Terms of Service</a></li>
        <li><a href="#" class="footer__links-item">Cookies Settings</a></li>
      </ul>
      <p class="footer__copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
  <!-- <ul class="footer__backgrounds">
    <li>
      <img
        src="./images/fruits/aple-mobile.png"
        alt=""
        class="footer__background-image"
      />
    </li>
    <li>
      <img
        src="./images/fruits/aple-mobile.png"
        alt=""
        class="footer__background-image"
      />
    </li>
    <li>
      <img
        src="./images/fruits/aple-mobile.png"
        alt=""
        class="footer__background-image"
      />
    </li>
  </ul> -->
</footer>
