<header class="header">
  <nav class="header__nav">
    <div class="container">
      <img
        class="header__logo"
        src="./icons/logo.png"
        alt="logo"
        width="66"
        height="52"
      />
      <button class="header__menu-open-btn" id="menu-open-btn" type="button">
        <svg class="header__menu-open-icon" width="28" height="28">
          <use href="./icons/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <div class="menu">
        <button class="menu__close-btn" id="menu-close-btn" type="button">
          <svg class="menu__close-icon" width="10" height="10">
            <use href="./icons/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <ul class="menu__list">
          <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
          <li class="menu__item">
            <a href="#about" class="menu__link">About</a>
          </li>
          <li class="menu__item">
            <a href="#service" class="menu__link">Service</a>
          </li>
          <li class="menu__item">
            <a href="#menu" class="menu__link">Menu</a>
          </li>
          <li class="menu__item">
            <a href="#contact" class="menu__link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
