<header class="header">
  <div class="container">
      <nav class="header__nav">
      <a href="#hero">
        <img
        loading="lazy"
          class="header__logo"
          src="./icons/logo/logo-1x.jpg"
          srcset="
          ./icons/logo/logo-1x.jpg 1x,
          ./icons/logo/logo-2x.jpg 2x"
          alt="logo"
          width="66"
          height="52"
        />
      </a>
      <button class="header__menu-open-btn" id="menu-open-btn" type="button" aria-label="Open website menu">
        <svg class="header__menu-open-icon" width="28" height="28">
          <use href="./icons/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <div class="mob-menu swing-in-top-bck">
        <button
          class="mob-menu__close-btn"
          id="mob-menu-close-btn"
          type="button"
        >
          <svg class="mob-menu__close-icon" width="10" height="10">
            <use href="./icons/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <ul class="mob-menu__list">
          <li class="mob-menu__item">
            <a href="#hero" class="mob-menu__link">Home</a>
          </li>
          <li class="mob-menu__item">
            <a href="#about" class="mob-menu__link">About</a>
          </li>
          <li class="mob-menu__item">
            <a href="#service" class="mob-menu__link">Service</a>
          </li>
          <li class="mob-menu__item">
            <a href="#favorites" class="mob-menu__link">Menu</a>
          </li>
          <li class="mob-menu__item">
            <a href="#contact" class="mob-menu__link">Contact</a>
          </li>
        </ul>
      </div>

      <div class="header__menu">
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a
             href="#hero"
            
              class="header__menu-link"
              >Home</a
            >
          </li>
          <li class="header__menu-item">
            <a
              href="#about"
              
              class="header__menu-link"
              >About</a
            >
          </li>
          <li class="header__menu-item">
            <a
              href="#service"
            
              class="header__menu-link"
              >Service</a
            >
          </li>
          <li class="header__menu-item">
            <a
              href="#favorites"
             
              class="header__menu-link"
              >Menu</a
            >
          </li>
          <li class="header__menu-item">
            <a
              href="#contact"
             
              class="header__menu-link"
              >Contact</a
            >
          </li>
        </ul>
        <button 
        type="button" class="js-orderBtn button order-btn--solid">Order now</button>
      </div>
    </div>
  </nav>
</header>
