<section class="hero" id="hero">
  <div class="container">
    <div class="hero__content-wrap">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__description">
        With just a few clicks, you can have your favorite meals delivered
        straight to your doorstep, no matter where you are. Order now and enjoy
        a hassle-free and delicious meal from the comfort of your own home.
      </p>
      <button class="button order-btn--solid" id="order-btn" type="button">
        Order Now
      </button>

      <div class="slider">
        <button type="button" class="slider-btn slider-btn--prev" id="prev-btn">
          <svg class="icon icon-arrow" width="28" height="20">
            <use href="./icons/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="slider-line">
          <div class="slider__image-thumd">
            <picture>
              <source
                media="(min-width: 767px)"
                srcset="
                  ./images/meals/falafel-tablet-1x.jpg 1x,
                  ./images/meals/falafel-tablet-2x.jpg 2x
                "
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/meals/falafel-desktop-1x.jpg 1x,
                  ./images/meals/falafel-desktop-2x.jpg 2x
                "
              />
              <img
                class="favorites__image"
                width="292"
                height="292"
                src="./images/meals/falafel-tablet-1x.jpg"
                alt=""
              />
            </picture>
          </div>

          <div class="slider__image-thumd">
            <picture>
              <source
                media="(min-width: 767px)"
                srcset="
                  ./images/meals/pngwing-tablet-1x.jpg 1x,
                  ./images/meals/pngwing-tablet-2x.jpg 2x
                "
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/meals/pngwing-desktop-1x.jpg 1x,
                  ./images/meals/pngwing-desktop-2x.jpg 2x
                "
              />
              <img
                class="favorites__image"
                width="292"
                height="292"
                src="./images/meals/pngwing-tablet-1x.jpg"
                alt=""
              />
            </picture>
          </div>

          <div class="slider__image-thumd">
            <picture>
              <source
                media="(min-width: 767px)"
                srcset="
                  ./images/meals/chris-ralston-tablet-1x.jpg 1x,
                  ./images/meals/chris-ralston-tablet-2x.jpg 2x
                "
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/meals/chris-ralston-desktop-1x.jpg 1x,
                  ./images/meals/chris-ralston-desktop-2x.jpg 2x
                "
              />
              <img
                class="favorites__image"
                width="292"
                height="292"
                src="./images/meals/chris-ralston-tablet-1x.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>
        <button type="button" class="slider-btn slider-btn--next" id="next-btn">
          <svg class="icon icon-arrow" width="28" height="20">
            <use href="./icons/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
