<div class="backdrop" id="backdrop">
  <div class="modal">
    <button class="modal__close-btn" type="button" id="close-modal">
      <img src="./icons/close-modal-icon.jpg" alt="" width="24" height="24" />
    </button>

    <form id="order-form" class="order-form" action="#">
      <h2 class="order-form__title">Order Form</h2>
      <ul class="order-form__list">
        <li class="order-form__item">
          <label class="order-form__label" for="name">Name:</label>
          <input
            class="input input--form"
            name="name"
            type="text"
            placeholder="Your name"
            id="order-form-input"
          />
          <p class="order-form__error-message" data-error-type="name">
            <img
              class="order-form__error-icon"
              width="12"
              height="12"
              src="./icons/error-icon-1x.png"
              alt=""
            />
            <span> The name must be between 3 and 25 characters </span>
          </p>
        </li>
        <li class="order-form__item">
          <label class="order-form__label" for="phone">Phone:</label>
          <input
            class="input input--form"
            name="phone"
            type="number"
            placeholder="+38(0_ _) _ _ _   _ _   _ _"
            id="order-form-input"
          />
          <p class="order-form__error-message" data-error-type="phone">
            <img
              class="order-form__error-icon"
              width="12"
              height="12"
              src="./icons/error-icon-1x.png"
              alt=""
            />
            <span> This phone must be in the format 099 000 00 00 </span>
          </p>
        </li>
        <li class="order-form__item">
          <label class="order-form__label" for="mail">Email:</label>

          <input
            class="input input--form"
            name="mail"
            type="email"
            placeholder="example@gmail.com"
            id="order-form-input"
          />
          <p class="order-form__error-message" data-error-type="mail">
            <img
              class="order-form__error-icon"
              width="12"
              height="12"
              src="./icons/error-icon-1x.png"
              alt=""
            />
            <span> Please enter a valid email address </span>
          </p>
        </li>
      </ul>
      <button class="order-form__submit" id="order-submit-btn" type="submit">
        Send
      </button>
      <p class="error__message-pop-up">All fields are required</p>
    </form>
  </div>
</div>
