<div class="backdrop" id="backdrop">
  <div class="modal">
    <button class="modal__close-btn" type="button" id="close-modal">
      <img src="./icons/close-modal-icon.jpg" alt="" width="24" height="24" />
    </button>

    <form class="order-form" action="#">
      <h2 class="order-form__title">Order Form</h2>
      <ul class="order-form__list">
        <li class="order-form__item">
          <label class="order-form__label" for="name">Name:</label>
          <input class="order-form__input" name="name" type="text" />
        </li>
        <li class="order-form__item">
          <label class="order-form__label" for="phone">Phone:</label>
          <input class="order-form__input" name="phone" type="number" />
        </li>
        <li class="order-form__item">
          <label class="order-form__label" for="mail">Email:</label>
          <input class="order-form__input" name="mail" type="email" />
        </li>
      </ul>
      <button class="order-form__submit" type="submit">Send</button>
    </form>
  </div>
</div>
