<div class="backdrop" id="backdrop">
  <div class="modal">
    <button class="modal__close-btn" type="button" id="close-modal">
      <img src="./icons/close-modal-icon.jpg" alt="" width="24" height="24" />
    </button>

    <form id="order-form" class="order-form" action="#">
      <h2 class="order-form__title">Order Form</h2>
      <ul class="order-form__list">
        <li class="order-form__item">
          <label class="order-form__label" for="name">Name:</label>
          <input
            class="input input--form"
            name="name"
            type="text"
            placeholder="Your name"
          />
        </li>
        <li class="order-form__item">
          <label class="order-form__label" for="phone">Phone:</label>
          <input
            class="input input--form"
            name="phone"
            type="number"
            placeholder="+38(0_ _) _ _ _   _ _   _ _"
          />
        </li>
        <li class="order-form__item">
          <label class="order-form__label" for="mail">Email:</label>
          <input
            class="input input--form"
            name="mail"
            type="email"
            placeholder="example@gmail.com"
          />
        </li>
      </ul>
      <button class="order-form__submit" type="submit">Send</button>
    </form>
  </div>
</div>
