<section>
  <div class="container">
    <div class="background">
      <h2>
        What our Customers <br />
        Say
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <ul>
        <li>
          <img src="./icons/stars.png" alt="" />
          <q
            >The Best app I have used to order food in a while, so many options
            to choose from too, I would recommend to a freind, No questions
            asked</q
          >
          <div>
            <img src="./images/customers/customer-men.jpg" alt="" />
            <p>Sumith Shah</p>
            <p>Some Dude</p>
          </div>
        </li>
        <li>
          <img src="./icons/stars.png" alt="" />
          <q
            >The ease with which I can just go in and order what i want was
            amazing, It has been a very pleasant experience ordering from this
            app</q
          >
          <div>
            <img src="./images/customers/customer-woman.jpg" alt="" />
            <p>Sumith Shah</p>
            <p>Some Dude</p>
          </div>
        </li>
      </ul>
      <img src="./images/fruits/banana-mobile.png" alt="" />
    </div>
  </div>
</section>
