<section class="subscribe">
  <div class="container">
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form class="subscribe__form" action="#">
      <input
        type="text"
        placeholder="Enter your email"
        class="subscribe__input"
      />
      <button type="submit" class="subscribe__button">Subscribe</button>
    </form>
  </div>
</section>
