<section class="subscribe" id="contact">
  <div class="container">
    <div class="subscribe_desk-wrap">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/fruits/banana-mobile-1x.png 1x,
            ./images/fruits/banana-mobile-2x.png 2x
          "
        />

        <source
          media="(max-width: 1279px)"
          srcset="
            ./images/fruits/banana-mobile-1x.png 1x,
            ./images/fruits/banana-mobile-2x.png 2x
          "
        />

        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/fruits/banana-mobile-1x.png 1x,
            ./images/fruits/banana-mobile-2x.png 2x
          "
        />
        <img
          class="subscribe__image"
          width="223"
          src="./images/fruits/banana-mobile-1x.png"
          alt=""
        />
      </picture>
      <div class="subscribe_desk-content">
        <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
        <p class="subscribe__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
        <form id="subscribe-form" class="subscribe__form" action="#">
          <input type="text" placeholder="Enter your email" class="input" />
          <button
            type="submit"
            class="button subscribe-btn subscribe-btn--solid"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
