<section class="testimonials" id="service">
  <div class="container">
    <h2 class="testimonials__title">
      What our Customers <br />
      Say
    </h2>
    <p class="testimonials__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="testimonials__list">
      <li class="testimonials__item">
        <img src="./icons/stars.png" alt="" class="testimonials__stars" />
        <q class="testimonials__quote">
          The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked
        </q>
        <div class="testimonials__author">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/customers/customer-men.jpg    1x,
                ./images/customers/customer-men-2x.jpg 2x
              "
            />

            <img
              class="testimonials__author-image"
              width="223"
              src="./images/customers/customer-men.jpg"
              alt=""
            />
          </picture>
          <div class="testimonials__naming">
            <p class="testimonials__author-name">Sumith Shah</p>
            <p class="testimonials__author-title">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="testimonials__item">
        <img src="./icons/stars.png" alt="" class="testimonials__stars" />
        <q class="testimonials__quote">
          The ease with which I can just go in and order what I want was
          amazing. It has been a very pleasant experience ordering from this
          app.
        </q>
        <div class="testimonials__author">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/customers/customer-woman.jpg    1x,
                ./images/customers/customer-woman-2x.jpg 2x
              "
            />

            <img
              class="testimonials__author-image"
              width="223"
              src="./images/customers/customer-woman.jpg"
              alt=""
            />
          </picture>
          <divc class="testimonials__naming">
            <p class="testimonials__author-name">Sumith Shah</p>
            <p class="testimonials__author-title">Some Dude</p>
          </divc>
        </div>
      </li>
    </ul>
  </div>
</section>
