<section class="testimonials">
  <div class="container">
    <div class="testimonials__background">
      <h2 class="testimonials__title">
        What our Customers <br />
        Say
      </h2>
      <p class="testimonials__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <ul class="testimonials__list">
        <li class="testimonials__item">
          <img src="./icons/stars.png" alt="" class="testimonials__stars" />
          <q class="testimonials__quote">
            The Best app I have used to order food in a while, so many options
            to choose from too, I would recommend to a freind, No questions
            asked
          </q>
          <div class="testimonials__author">
            <img
              src="./images/customers/customer-men.jpg"
              alt=""
              class="testimonials__author-image"
            />
            <p class="testimonials__author-name">Sumith Shah</p>
            <p class="testimonials__author-title">Some Dude</p>
          </div>
        </li>
        <li class="testimonials__item">
          <img src="./icons/stars.png" alt="" class="testimonials__stars" />
          <q class="testimonials__quote">
            The ease with which I can just go in and order what I want was
            amazing. It has been a very pleasant experience ordering from this
            app.
          </q>
          <div class="testimonials__author">
            <img
              src="./images/customers/customer-woman.jpg"
              alt=""
              class="testimonials__author-image"
            />
            <p class="testimonials__author-name">Another Name</p>
            <p class="testimonials__author-title">Another Title</p>
          </div>
        </li>
      </ul>
      <img
        src="./images/fruits/banana-mobile.png"
        alt=""
        class="testimonials__image"
      />
    </div>
  </div>
</section>
