.about {
  @include section(70, 72);
  position: relative;
  @include tablet {
    @include section(150, 88);
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/backgrounds/about-background-mobile-320-1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;

    @include tablet {
      background-image: url("../images/backgrounds/about-background-tablet-1x.jpg");
    }
  }
  color: var(--text-primary);
}

.about__img-wrapp {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 309px;
  margin-bottom: 60px;
}
.about__image {
  height: 309px;
}

.about__bg-apple--middle {
  display: none;
  @include tablet {
    position: absolute;
    bottom: 68px;
    right: 184px;
    width: 166px;
    height: 211px;
    background-image: url("../images/fruits/tablet-bg-middle-apple-1x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.about__bg-apple--smalll {
  display: none;
  @include tablet {
    position: absolute;
    bottom: 68px;
    right: 32px;
    width: 108px;
    height: 136px;
    background-image: url("../images/fruits/tablet-bg-small-apple-1x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.about__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 28px;
  width: 280px;

  @include tablet {
    font-size: 42px;
    width: 526px;
    margin-bottom: 20px;
  }
}
.about__description {
  margin-bottom: 28px;
  line-height: 20px;
  font-size: 14px;
  width: 280px;

  @include tablet {
    width: 500px;
    font-size: 16px;
    line-height: 24px;
  }
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 28px;
  @include tablet {
    flex-direction: row;

    gap: 80px;
    margin-bottom: 20px;
  }
}
.about__item {
  // &:not(:last-child) {
  //   margin-bottom: 28px;
  // }
  // &:last-child {
  //   margin-bottom: 28px;
  // }
}

.about__item-icon {
  width: 48px;
  height: 48px;
  background-color: var(--background-primary);
  border-radius: 50%;
  padding: 8px;
  margin-bottom: 8px;
}
.about__item-title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
}

.about__item-description {
  font-size: 14px;
  line-height: 20px;
}

.about__controls {
  display: flex;
  gap: 24px;
  align-items: center;
}

.about__link {
  display: flex;
  align-items: flex-start;
  gap: 3px;

  color: var(--text-secondary);
  font-size: 13px;
  font-weight: 400;
}
