.about {
  @include section();
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/backgrounds/about-background-mobile-320-1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 1050px;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }
  color: var(--text-primary);
}

.about__img-wrapp {
  background-color: var(--background-primary);
  width: 255px;
  height: 255px;
  padding: 12px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  &::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 279px;
    border-radius: 50%;
    top: -13px;
    left: -5%;
    outline: var(--background-primary) 5px solid;
  }
}
.about__image {
  position: absolute;
  z-index: 2;
  bottom: 53px;
  left: 30px;
  height: 255px;

  // &::after {
  //   content: ""; /* Добавьте свойство content */
  //   position: absolute;
  //   width: 128px;
  //   height: 44px;
  //   background: radial-gradient(
  //     50% 50% at 50% 50%,
  //     #2f583f 0%,
  //     rgba(105, 105, 105, 0) 100%
  //   );
  //   top: 0;
  //   z-index: 10;
  // }
}
.about__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 28px;
}
.about__description {
  margin-bottom: 28px;
  line-height: 20px;
}
// .about__list {
// }
.about__item {
  &:not(:last-child) {
    margin-bottom: 28px;
  }
  &:last-child {
    margin-bottom: 28px;
  }
}

.about__item-icon {
  width: 48px;
  height: 48px;
  background-color: var(--background-primary);
  border-radius: 50%;
  padding: 8px;
  margin-bottom: 8px;
}
.about__item-title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
}

.about__item-description {
  font-size: 14px;
  line-height: 20px;
}
// .about__item--easy {
// }
.about__controls {
  display: flex;
  gap: 24px;
  align-items: center;
}
.about__btn {
  padding: 10px 22px;
  border-radius: 30px;
  border: 2px solid var(--dark-green);
  background: var(--background-primary);

  color: var(--text-primary);
  font-size: 13px;
  font-weight: 500;
}
.about__link {
  display: flex;
  align-items: flex-start;
  gap: 3px;

  color: var(--text-secondary);
  font-size: 13px;
  font-weight: 400;
}
// .about__link-icon {
// }
