.favorites {
  @include section();
  text-align: center;
  @include tablet {
    @include section(100, 100);
  }
}
.favorites__title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;

  @include tablet {
    font-size: 42px;
  }
}
.favorites__description {
  margin-bottom: 60px;
  font-size: 14px;

  @include tablet {
    font-size: 16px;
  }
}
.favorites__list--mobile {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  @include tablet {
    display: none;
  }
}
.favorites__list--tablet {
  display: none;
  @include tablet {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include desktop {
    width: 1249px;
  }
}

.favorites__btn {
  width: 280px;
  height: 282px;
  border-radius: 50%;
  border: 11px solid var(--main-yellow);
  background: var(--background-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  @include tablet {
    width: 336px;
    height: 338px;
  }

  @include desktop {
    width: 395px;
    height: 397px;
  }
}
.favorites__image {
  width: 223px;
  height: 223px;
  @include tablet {
    width: 268px;
    height: 268px;
  }
  @include desktop {
    width: 315px;
    height: 315px;
  }
}
