.hero {
  @include section(132px, 20px);

  @include tablet {
    @include section(132px, 0);
    height: 541px;
  }
  @include desktop {
    @include section(86px, 0);
    height: 710px;
  }
}
.hero__content-wrap {
  position: relative;
}
.hero__title {
  font-size: 28px;
  margin-bottom: 28px;

  @include tablet {
    width: 537px;
    margin-bottom: 44px;
    font-size: 42px;
    line-height: 50px;
  }

  @include desktop {
    width: 502px;
    font-size: 48px;
    line-height: 57px;
    padding-top: 159px;
  }
}
.hero__description {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;

  @include tablet {
    width: 336px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  @include desktop {
    width: 511px;
  }
}
.slider-wrap {
  position: absolute;
  top: 89px;
  right: 0;
  z-index: 9;
  width: 336px;

  @include desktop {
    width: 608px;
    top: 0;
  }
}
.slider {
  display: none;
  @include tablet {
    overflow: hidden;
    display: block;
    width: 320px;
    height: 320px;
  }
  @include desktop {
    width: 580px;
    height: 580px;
  }
}
.slider-line {
  position: relative;
  width: 960px;
  height: 320px;
  display: flex;
  left: 0;
  transition: all 0.7s ease-in-out;
  overflow: hidden;
  @include desktop {
    width: 1740px;
    height: 580px;
  }
}
.slider__image-thumd {
  border-radius: 50%;
  width: 320px;
  height: 320px;
  border: 14px solid var(--main-yellow);
  background-color: var(--background-primary);

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    width: 580px;
    height: 580px;
  }
}
.slider-btn {
  position: absolute;
  width: 34px;
  height: 28px;
  z-index: 10;
  top: 146px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-primary);

  background-color: var(--background-primary);
  border-radius: 5px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.06));

  &--prev {
    left: -10;
  }
  &--next {
    right: 3px;
    transform: rotate(180deg);
  }

  @include desktop {
    &--next {
      right: 10px;
    }
    top: 266px;
    width: 48px;
    height: 40px;
  }
  transition: all 0.2s var(--cubic);

  &:hover,
  &:focus {
    color: var(--dark-green);
  }
  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
}
.icon-arrow {
  fill: currentColor;
  @include desktop {
    width: 30px;
    height: 30px;
  }
}
.hero__image {
  @include desktop {
    width: 528px;
    height: 528px;
  }
}
