.mob-menu {
  display: none;

  width: 130px;
  flex-shrink: 0;

  border-radius: 30px 0px 30px 30px;
  background: var(--background-secondary);

  position: absolute;
  top: 50px;
  right: 20px;

  overflow-y: hidden;
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}
.open {
  display: block;
  @include tablet {
    display: none;
  }
}

.mob-menu__close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  right: 4px;
}
// .mob-menu__close-icon {
// }
// .mob-menu__list {
// }
// .mob-menu__item {
// }
.mob-menu__link {
  color: var(--text-secondary);
  display: block;
  width: 100%;
  padding: 16px;

  font-size: 16px;
  font-weight: 400;

  &:hover,
  :active {
    background-color: var(--light-green);
  }
}
