.order-form {
  width: 280px;
  color: var(--text-primary);
  @include tablet {
    width: 394px;
  }
}
.order-form__title {
  margin-bottom: 20px;
  @include tablet {
    font-size: 24px;
    line-height: 28px;
  }
}
.order-form__list {
  margin-bottom: 32px;
}
.order-form__item {
  margin-bottom: 24px;
  text-align: left;
}
.order-form__item:last-child {
  margin-bottom: 0;
}
.order-form__label {
  margin-bottom: 2px;
  margin-left: 12px;
  display: block;

  color: var(--text-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.order-form__submit {
  border-radius: 30px;
  border: 2px solid var(--dark-green);
  background: var(--background-primary);
  padding: 10px 38px;

  font-size: 13px;
  font-weight: 500;
  line-height: 19px;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--light-green);
  }

  &--error {
    border: 2px solid var(--error-form);
    &:hover,
    &:focus,
    &:active {
      background: var(--background-primary);
    }
  }
}

.order-form__error-message {
  display: none;
  color: var(--error-form);
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;

  gap: 2px;
  align-items: stretch;
  justify-content: start;
  margin-left: 12px;
  margin-top: 1px;
}

.open {
  display: flex;
}

.error__message-pop-up {
  display: none;
  background-color: var(--error-form);

  color: #faedeb;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.succsess-message {
  display: none;
  width: 150px;
  height: 70px;
  color: rgb(255, 255, 255);
  background-color: rgb(71, 216, 71);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.show {
  display: block;
}
