.order-form {
  width: 280px;
  color: var(--text-primary);
  @include tablet {
    width: 394px;
  }
}
.order-form__title {
  margin-bottom: 20px;
  @include tablet {
    font-size: 24px;
    line-height: 28px;
  }
}
.order-form__list {
  margin-bottom: 32px;
}
.order-form__item {
  margin-bottom: 24px;
  text-align: left;
}
.order-form__item:last-child {
  margin-bottom: 0;
}
.order-form__label {
  margin-bottom: 2px;
  margin-left: 12px;
  display: block;

  color: var(--text-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.order-form__submit {
  border-radius: 30px;
  border: 2px solid var(--dark-green);
  background: var(--background-primary);
  padding: 10px 38px;

  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  transition: all 0.2s var(--cubic);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--light-green);
  }

  &--error {
    border: 2px solid var(--error-form);
    &:hover,
    &:focus,
    &:active {
      background: var(--background-primary);
    }
  }
}

.order-form__error-message {
  display: none;
  color: var(--error-form);
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;

  gap: 2px;
  align-items: stretch;
  justify-content: start;
  margin-left: 12px;
  margin-top: 2px;

  &--show {
    display: flex;
    animation: showError 0.5s cubic-bezier(0.42, 0, 0, 1.21) forwards;
  }
}
.order-form__error-message-validation {
  display: none;
  &--show {
    display: block;
  }
}
.order-form__error-message-empty {
  display: none;
  &--show {
    display: block;
  }
}

.error__message-pop-up {
  display: none;
  opacity: 0;

  width: 165px;
  height: 54px;
  padding-top: 16px;
  padding-bottom: 22px;
  background-image: url("../images/backgrounds/form-error-bg-1x.png");
  @include retina {
    background-image: url("../images/backgrounds/form-error-bg-2x.png");
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #faedeb;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  transition: opacity 0.5s ease-in-out;

  &--show {
    transform: scale(0);
    animation: popUp 0.2s cubic-bezier(0, 1.31, 0.58, 1) forwards,
      popUp 0.2s cubic-bezier(0, 1.31, 0.58, 1) 2s forwards reverse;
    display: block;
    opacity: 1;
    // visibility: visible;
  }

  position: absolute;
  bottom: 76px;
  left: 77px;

  @include tablet {
    left: 146px;
  }
}

.succsess-message {
  display: none;
  width: 150px;
  height: 70px;
  color: rgb(255, 255, 255);
  background-color: rgb(71, 216, 71);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

@keyframes showError {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes popUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
