.subscribe {
  @include section(0, 60);

  font-size: 14px;
}
.subscribe__image {
  margin: 0 auto;
  display: block;
}
.subscribe__title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
}
.subscribe__description {
  margin-bottom: 40px;
}
.subscribe__form {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-end;
  text-align: right;
}
