.subscribe {
  @include section(0, 60);

  font-size: 14px;

  @include tablet {
    @include section(82, 100);
  }
}
.subscribe__image {
  margin: 0 auto;
  display: block;

  @include tablet {
    margin-left: auto;
    margin-right: 0;
    width: 281px;
    height: 136px;
  }
}
.subscribe__title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  @include tablet {
    width: 656px;
    font-size: 42px;
    line-height: 50px;
  }
}
.subscribe__description {
  margin-bottom: 40px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
}
