.testimonials {
  @include section(60, 60);
  font-size: 14px;
  @include tablet {
    @include section(60, 120);
  }
  @include tablet {
    @include section(100, 200);
  }
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/backgrounds/testimonials-background-mobile-320-1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include retina {
      background-image: url("../images/backgrounds/testimonials-background-mobile-320-2x.jpg");
    }

    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;

    @include mobile {
      background-image: url("../images/backgrounds/testimonials-background-mobile-480-1x.jpg");
      @include retina {
        background-image: url("../images/backgrounds/testimonials-background-mobile-480-2x.jpg");
      }
    }
    @include tablet {
      background-image: url("../images/backgrounds/testimonials-background-tablet-1x.jpg");
      @include retina {
        background-image: url("../images/backgrounds/testimonials-background-tablet-2x.jpg");
      }
    }
    @include desktop {
      background-image: url("../images/backgrounds/testimonials-background-desktop-2x.jpg");

      @include retina {
        background-image: url("../images/backgrounds/testimonials-background-desktop-2x.jpg");
      }
    }
  }
}

.testimonials__title {
  margin-bottom: 20px;
  font-size: 28px;

  @include tablet {
    font-size: 42px;
    font-weight: 700;
  }
}
.testimonials__description {
  margin-bottom: 32px;

  @include tablet {
    font-size: 16px;
  }
}
.testimonials__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 17px;
  @include tablet {
    flex-direction: row;
    gap: 32px;
  }
}
.testimonials__item {
  background-color: var(--background-primary);
  border-radius: 0 25px 25px 25px;
  padding: 8px 8px 10px 8px;
}
.testimonials__stars {
  margin-bottom: 28px;
}
.testimonials__quote {
  margin-bottom: 42px;
  display: block;

  font-size: 16px;
  font-weight: 700;
  @include tablet {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
.testimonials__author {
  display: flex;
  gap: 25px;
}

.testimonials__naming {
  position: relative;
  line-height: 21px;

  @include tablet {
    font-size: 14px;
    line-height: 21px;
  }

  ::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--dark-green);
    top: 0;
    right: -14px;
  }
}

.testimonials__author-image {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--main-yellow);

  width: 48px;
  height: 48px;
}
.testimonials__author-name {
  margin-bottom: 2px;
  font-weight: 500;
}
